* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #102626;
    .container {
        width: 200px;
        height: 200px;
        background-color: #0d2323;
        border-radius: 50%;
        position: relative;
    }
}